# Python 기본
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.log

# 가상환경
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# 운영체제별 불필요 파일
.DS_Store
Thumbs.db

# Flask 설정 파일
instance/
.webassets-cache

# 환경변수 파일 (절대 유출 금지)
.env

# IDE 설정
.vscode/
.idea/
*.swp
*.swo
*.bak

# Render 배포용 캐시 (선택)
__build__/
